body {
    background-color: #212121;
    color: #fff;
}

#sidebar-wrapper {
    background-color: #333;
    color: #fff;
}

.list-group-item {
    background-color: #333;
    border-color: #666;
    color: #fff;
}

.list-group-item:hover {
    background-color: #444;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

#menu-toggle {
    color: #fff;
}

#menu-toggle:hover {
    color: #ccc;
}

.container-fluid {
    margin-top: 20px;
}